
slack:
  chat:
    url: https://slack.com/api/chat.postMessage
    token: xoxb-4377016762647-4507457471415-0mo09liS4SDkI71qURokIqvp

naver:
  cloud:
    url: https://sens.apigw.ntruss.com
    access-key: h3wgv38IOOhcXNlrfljT
    secret-key: AbivoGPePxmX0CySNvwmy84ov8N6moBeFSj6wyyw
    timestamp-header: x-ncp-apigw-timestamp
    api-key-header: x-ncp-iam-access-key
    signature-header: x-ncp-apigw-signature-v2
  sms:
    path: /sms/v2
    service-id: ncp:sms:kr:252880318896:bf_user_verify
    sender: 07043046482
  alimtalk:
    path: /alimtalk/v2
    service-id: ncp:kkobizmsg:kr:2528803:biz
  email:
    url: https://mail.apigw.ntruss.com
    path: /api/v1/mails

management:
  endpoints:
    web:
      exposure:
        include: refresh, health, beans, busrefresh, prometheus, metrics, info, httptrace

#spring:
#  rabbitmq:
#    host: 127.0.0.1
#    port: 5672
#    username: guest
#    password: guest
spring:
  cloud:
    stream:
      kafka:
        binder:
          brokers: 49.50.164.81:9092
        bindings:
          slack_event_in:
            consumer:
              reset-offsets: true
              start-offset: earliest
          sms_event_in:
            consumer:
              reset-offsets: true
              start-offset: earliest
          email_event_in:
            consumer:
              reset-offsets: true
              start-offset: earliest
      bindings:
        slack_event_in:
          destination: slack_event
          content-type: application/json
          group: notification
        slack_event_out:
          destination: slack_event
          content-type: application/json
        sms_event_in:
          destination: sms_event
          content-type: application/json
          group: notification
        sms_event_out:
          destination: sms_event
          content-type: application/json
        email_event_in:
          destination: email_event
          content-type: application/json
          group: notification
        email_event_out:
          destination: email_event
          content-type: application/json
