server:
  port: 8000

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka

spring:
  application:
    name: gateway-service

  cloud:
    gateway:
      # https://velog.io/@mdy0102/Spring-Cloud-Gateway-CORS-%EB%AC%B8%EC%A0%9C-%ED%95%B4%EA%B2%B0%ED%95%98%EA%B8%B0
      globalcors:
        cors-configurations:
          '[/**]':
            allowedOrigins: "http://localhost:3000"
            allowedHeaders: "*"
            allowedMethods:
              - POST
              - GET
              - PUT
              - PATCH
              - DELETE
              - OPTIONS

      default-filters:
        - name: GlobalFilter
          args:
            baseMessage: Spring Cloud Gateway GlobalFilter
            preLogger: true
            postLogger: true
      routes:
        - id: item-service
          uri: lb://item-service
          predicates:
            - Path=/item-service/**
          filters:
            - AddRequestHeader=item-request, item-request-header
            - AddResponseHeader=item-response, item-response-header
        - id: payment-service
          uri: lb://payment-service
          predicates:
            - Path=/payment-service/**
#        - id: user-service
#          uri: http://localhost:8081
#          uri: lb://user-service
#          predicates:
#            - Path=/user/**
#          filters:
#            - name: CustomFilter
#            - name: LoggingFilter
#              args:
#                baseMessage: Hi, there
#                preLogger: true
#                postLogger: true
#            - AddRequestHeader=user-request, first-request-header2
#            - AddResponseHeader=user-response, first-response-header2
